.blog-list-container {
  margin-top: 20px;
}

.text {
  text-align: center;
  font-size: 30px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.no-blogs {
  text-align: center;
  margin-top: 30px;
}
