.blog-container {
  width: 80%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  align-self: center;
  background-color: #e5e5e5;
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 18px;
}

.button:hover {
  background-color: rgba(252, 182, 107, 0.8);
}

.error-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.error {
  background-color: red;
}
